*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
   font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #F2F2F2;

}
@font-face{
    font-family: 'fontawsome-brand';
    src: url('../font/fa-brands-400.ttf');
}
@font-face{
    font-family: 'fontawsome';
    src: url('../font/fa-solid-900.ttf');
}
@font-face{
    font-family: 'fontawsome-regular';
    src: url('../font/fa-regular-400.ttf');
}

#social-icon i{
    font-family: 'fontawsome';
    /* font-weight: 400; */
   margin-left: 20px;
    text-decoration: none;
    color: rgb(63, 91, 181);
   
}
#link a{
    color: #aaa;
    text-decoration: none;
    font-size: 12px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
#logo img{
    width: 100px;
   height: 50px;
}
nav a{
    color: #000;
    text-decoration: none;
    padding: 0 15px;

}
nav a:first-child{
    border-bottom: 2px solid red;
    padding: 5px;
}
nav a:hover{
     border-bottom: 2px solid red;
    padding: 5px;
}
/*section one*/
#right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%; 
    gap: 10px;
}
.paraghraph{
    width: 49%;
    position: relative;

}
.paraghraph img{
    width: 100%;
    height: 250px;
}
.paraghraph h3, .paraghraph a{
    position: absolute;
    top:150px;
    left:20px
}
.paraghraph a{
    top:170px;
    text-decoration: none;
    border-bottom: 2px solid red;
    padding: 5px;
    color: #111111;
}
.photo{
    width: 100%;
    display: flex;
  /*  flex-direction: row;*/
   margin-top: 10px;
   gap: 10px;
    justify-content: space-between;
}
#left img{
    width: 100%;
    height: 510px;
}
#left{
    width: 50%;
    position: relative;
}
 #left h1{
       font-family: "Cookie", cursive;
    color: #111111;
    margin-bottom: 5px;
    position: absolute;
    top: 250px;
    left: 50px;  
   
}
 #left a{
     color: #111111;
    margin-bottom: 5px;
    position: absolute;
    top: 300px;
    left: 100px;  
    text-decoration: none;
    border-bottom: 2px solid red;
    padding: 10px;
 }

/*section two*/
#item{
    display: flex;
    flex-direction: row;
    gap: 430px;
    margin: 20px;
    padding-top: 10px;
}
#item  span{
     border-bottom: 2px solid red;
   padding: 10px;
}
#item #header-nav{
   
}

#photo2 {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
  /* gap: 20px;
   justify-content: space-around;*/
}
#photo2 .picture{
    width: 23%;
    margin: 11px;
}
#photo2 .picture img{
    width: 100%;
    height: 400px;
}
#photo2 .picture .star i{
    font-family: 'fontawsome';
        font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
    
}

.star{
    text-align: center;
    
}
.star i:hover {
    transform: translate(20px);
}
#photo2 .picture p{
    text-align: center;
    padding: 5px;
}

#photo2 .picture .icon i{
    font-family: 'fontawsome-regular';
    font-size: 20px;
    position: relative;
    top: -60px;
    left: 60px;
    margin: 10px;
    color: #7f539c;
    font-style: normal;
}
#photo2 .picture .icon i:hover{
    background-color:#e3c01c;
    color: #000;
     transform: translate(-10px);
     padding: 15px;
     border-radius: 50%;
}
#photo2 .picture .icon i.expand{
    font-family: 'fontawsome';
}
.icon i:hover {
     transform: translate(20px);
}
/*ABOUT*/
#about h1,h2 {
    text-align: center;
    margin: 20px;
}
#about #img{
    width: 50%;
}
#about #more{
    width: 50%;
    padding: 30px;
    padding-top: 120px;
    margin-left: 5px;
   
}
#more h3{
    padding-bottom: 10px;
    
}
#more p{
     line-height: 1.8;
}
#about-1 {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    
}
/* contact*/

 #contact-form{
    background-image: url('../images/o.jpg');
    background-size: cover;
    background-attachment: fixed;
   padding-bottom: 30px;
    /* display: flex
; */
    /* flex-direction: row; */
    position: relative;
    z-index: -1;
    
 }
 #layer{
     position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    z-index: 0;

 }

#inside-contact {
    display: flex;
     z-index: 1;
    position: relative;
    color: #eee;
}
 
#contact-form .address{
    width: 50%;
    margin: 40px;
    padding: 20px;
}

.address h1{
    padding: 20px;
}
.address li{
    padding: 20px;
    list-style: none;
}
.address ul h3 i{
   font-family: 'fontawsome';
    color: rgb(195, 199, 227);
    padding: 5px;

}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
#Contact-sign h2{
     margin-bottom: 10px;
    font-size: 30px;
    color: #eee;
    padding: 30px;
}
#Contact-sign input{
     padding: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    border: 1px solid #aaa;
    background: #eeeeeeee;
}
#Contact-sign button{
       width: 50%;
    padding: 20px;
    background: #e74c3c;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
 
}
#Contact-sign textarea{
     padding: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    border: 1px solid #aaa;
    background: #eeeeeeee;
} 
/*login page*/
#sign-in h2{
     margin-bottom: 10px;
    font-size: 30px;
    color: #aaa;
    
}
#sign-in input {
    padding: 15px;
    margin-bottom: 25px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    border: 1px solid #aaa;
}
#sign-in button{
     width: 25%;
    padding: 20px;
    background: #e74c3c;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
     margin-bottom: 30px;
}

form#login{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
}
/*foort style*/
footer{
    background:#f2f2e9;
     padding-top: 40px;
   
    
}
.footer-list ul li i{
    font-family: 'fontawsome-brand';
    font-weight:400;
    padding: 10px;
     color: #000;
    
}
.footer-list ul li{
    list-style: none;
     
}
#footer{
      width: 98%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    margin: 0 auto;

}
.footer-list{
    width: 20%;
    padding: 15px;
    border-left: 1px solid #999;
    
}
.footer-contact{
    width: 20%;
     padding: 25px;
     border-left: 1px solid #999;
      
}
.footer-contact p , a{
    padding: 10px;
    text-decoration: none;
     color: #000;
}
.footer-link{
     width: 20%;
   padding: 25px;
   border-left: 1px solid #999;
}
.footer-link a{
    text-decoration: none;
    color: #000;
    
}
.footer-link ul li{
    list-style: none;
    padding: 8px;
    
}
.img img{
    width: 40%;
    height: 300px;
   
}
#text p{
   width: 50%;
    text-align: center;
    color: #111;
    border-top: 1px solid #999;
    margin: 10px;
    margin: 0 auto;
    padding: 14px;
    margin-top: 25px;
}
